<h1 style="margin:0 0 16px;font-family:Georgia,serif;font-size:24px;color:#8D153A;">Your password was changed</h1>
<p style="margin:0 0 16px;line-height:1.6;">Hi {{name}},</p>
<p style="margin:0 0 24px;line-height:1.6;">This confirms that your {{appName}} password was just changed. For your security, all devices have been signed out.</p>
<p style="margin:0;line-height:1.6;font-size:13px;color:#666;">If you did not do this, please reset your password immediately or contact us.</p>
